body {
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
    margin-left: 100px;
}

.colored {
    color: #07d7e6;

}

#first-sec {
    margin-top: 40px;
    margin-bottom: 100px;
    display: flex;
}

.first-btn {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 20px;
    font-weight: 900;
    background-color: #07d7e6;
    color: black;
    text-decoration: none;
}

#first-img {
    width: 700px;
}

.second-sec {
    display: flex;
    margin-bottom: 100px;
}


#second-img {
    width: 450px;
    margin-right: 100px;
}

#mid-sec-div {
    margin-right: 120px;
    margin-left: 50px;
}

.last-div {
    width: 40%;
    margin-right: 120px;
    padding: 20px;
    border-radius: 10px;
    border-left: 4px solid blue;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}